* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  padding: 10px 12px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: start;
}

.navbar img {
  width: 60px;
  height: 50px;
}

.navbar ul {
  margin-left: 30px;
  list-style: none;
  color: #fff;
}

.navbar ul li {
  padding: 20px;
  display: inline-block;
  cursor: pointer;
}

.section-header .title {
  color: #fff;
  text-align: center;
  padding-top: 200px;
  height: 200px;
  background-image: linear-gradient(
    to left,
    #080f1a,
    #16282f,
    #294141,
    #465a4f,
    #6c725e
  );
}

/* section property */

.section-property {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 100px;
}

.double-property {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.single-property {
  max-width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin: 45px 0;
}

.single-property .img {
  padding-right: 20px;
}

.single-property .img img {
  width: 50px;
  height: 50px;
}

.single-property .text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

/* footer */

footer {
  background-image: linear-gradient(
    to top,
    #080f1a,
    #16282f,
    #294141,
    #465a4f,
    #6c725e
  );
}

footer .access {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

footer .access div ul a li {
  padding: 12px 0;
  color: white;
}

.desc {
  text-align: center;
  color: #fff;
}

.desc h4,
.desc h5,
.desc p,
.desc div {
  padding: 15px;
}
.desc h4 {
  color: red;
}

.desc div a {
  color: red;
}

@media screen and (max-width: 768px) {
  .section-property {
    padding: 20px 10px;
  }
  .double-property {
    display: flex;
    flex-direction: column;
  }
  .single-property {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: 45px 0;
    text-align: center;
  }
  .single-property .text {
    justify-content: center;
    align-items: center;
  }
  .access{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .box{
    width: 100%;
  }
}
